:root{
    --main-title-color:#212121;
    --main-text-color:#757575;
    --header-text-color: #FFFFFF;
    --accent-color: #2196F3;
    --address-text-color: rgba(255, 255, 255, 0.6);
    --port-btn-bgcolor: #F5F4FA;

}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
    font-style: normal
}

/*---------------------HEADER--------------------- */

.header-logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-title-color);
}

.header-logo-accent {
    color: var(--accent-color);
}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-title-color);
}

.header-contacts{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

.header-link:hover,
.header-contacts:hover {
    color: var(--accent-color);
}

/*---------------------HERO--------------------- */

.hero{
    background-color: #2F303A;
}

.hero-item{
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--header-text-color);
    
}

.hero-btn {
    font-family: Roboto;
    background-color: #2F303A;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--header-text-color);
}
.hero-btn:hover{
    background-color: #188ce8;
}

/*---------------------REASONS--------------------- */



.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

.reasons-item {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-title-color);
}

.reasons-title {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

/*---------------------ABOUT--------------------- */

.about {
    background-color: #E5E5E5;
}

.about-item {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-title-color);
}
/*---------------------TEAM--------------------- */

.team {
    background-color: #F5F4FA;
}

.team-item {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-title-color);
}

.team-person {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-title-color);
}

.team-person-major {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

/*---------------------FOOTER--------------------- */

.footer {
    background-color: #2F303A;
}

.footer-logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--header-text-color);
}

.footer-address {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--header-text-color);
}

.footer-contacts{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

/*---------------------PORTFOLIO--------------------- */

.portfolio-btn {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: var(--port-btn-bgcolor);
    color: var(--main-title-color);
    cursor: pointer;
}

.portfolio-btn:hover {
    background-color: var(--accent-color);
    color: var(--header-text-color);
} 

.projects-item {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-title-color);
}

.projects-title {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

